main {
   
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 500px);
        row-gap: 30px;
        column-gap: 20px;
        text-align: center;
        margin: $margen;

        .grid-item {
            @include flex-center;
            flex-direction: column;

            img {
                width: 400px;
                height: 400px; 
            }
            img:hover{
                width: 500px;
                height: 500px;
                transition: all 2s;
            }

            h3 {
                text-align: center;
            }

        }
    }
}