header {
    .bg-one {
        background: linear-gradient(to bottom, white, blanchedalmond);
    }
    .image-logo {
        width: 100px;
        height: 100px;
    }
    .navbar-nav {
        .nav-item{
            &:hover {
                color: blueviolet;
                text-decoration: underline;
            }
        }
    }
}